.container {
    background-color: #2a373c;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 99; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding: 0px;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.title_container {
  background-color: #1f292d;
  width: 100%;
  height: 70px;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 55%;
}

.admin_user {
  padding:10px;
  margin-top: 10px;
}

.caption_user {
  display: inline-block;
  position: absolute;
  margin-left: 15px;
  color: #ffff;
  margin-top: 12px;
}

hr {
  width: 250px;
  background-color: grey;
}

.menu {
  font-size: 16px;
  margin-top: 5px;
}

.menu .navItem {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.menu a.navItem:hover {
  background-color: #1e2528;
  text-decoration: none;
  color: #F5F5F5;
}

.menu #button_dash_collapse {
  text-decoration: none;
  color: #BDBDBD;
}

.menu a.navItem:active {
  background-color: #1e2528;
}

.menu .react-icons {
  vertical-align: middle;
  margin-right: 5px;
}

.menu .dropdown {
  vertical-align: middle;
  margin-left: 75px;
}

.menu .toggle_item {
  margin-left: 40px;
  padding:0px;
}
